form {
   width: 45rem;
   margin: 6rem auto;
   background: white;
   border: 1px solid #1d5a66;

   border-radius: 2rem;

   overflow: hidden;

   padding: 6rem;
}

fieldset {
   border: 0;
}

fieldset + fieldset {
   margin-top: 4rem;
}

fieldset legend {
   width: 100%;
   font-size: 2.2rem;
   line-height: 1.5; 
   color: #5c8599;
   font-weight: 700;
   border-bottom: 1px solid #6a6e6e;
   margin-bottom: 2rem;
   padding-bottom: 2.4rem;
}

.input-block + .input-block {
   margin-top: 2.4rem;
}
